<div class='row'>
  <div class='col-sm-1'><%=link_to "<span class='glyphicon glyphicon-th' aria-hidden='true'></span>".html_safe,{:controller=>'welcome', :action=>'change_view',:view=>'grid'},
             :class=>'btn btn-danger btn-sm',:method=>:post%></div>
  <div class='col-sm-3'>Total <%=@entries.length%> of <%=@entries.count%> Jobs</div>
  <div class='col-sm-3 text-warning'>*Click on the columns for sorting</div>
  <div class='col-sm-4 pull-right'><%= will_paginate @entries%></div>
</div>

<table class='table no-bordered'>
  <thead>
  <tr>
    <th><%#= sortable 'id', 'Id'%></th>
    <th><%= sortable 'title', 'Title '%><span class='glyphicon glyphicon-sort'></span></th>
    <th><%= sortable 'author', 'Department '%><span class='glyphicon glyphicon-sort'></span></th>
    <th><%= sortable 'created_at', 'Posted On '%><span class='glyphicon glyphicon-sort'></span></th>
  </tr>
  </thead>
  <tbody>
  <%@entries.each do |job| %>
      <tr class='no-border'>
        <td><%#=job.id%></td>
        <td><a data-toggle='modal' data-target='#<%=job.id%>' href='#' class='job_title'><%=job.title%></a></td>
        <td class='job_author'><%=job.author%></td>
        <td><small><%=Time.new(job.created_at.to_i).strftime('%b %d %a %Y %Z')%></small>
          <%if job.updated_at.to_s!=job.created_at.to_s%>
              Updated at<%=job.updated_at%>
          <%end%>
        </td>
        <td>
          <!-- START OF MODAL -->
          <div class='modal fade' id='<%=job.id%>' role='dialog' aria-labelledby='myModalLabel'>
            <div class='modal-dialog'>
              <div class='modal-content'>
                <div class='modal-header'>
                  <button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
                  <h4 class='modal-title lead' id='myModalLabel'><%=job.title%></h4>
                </div>

                <div class='modal-body'>
                  <strong class='pull-right'>Posted by <%=job.author%></strong>
                  <h5>Summary of Duties</h5>
                  <p class='text-justify'><%=job.content.html_safe%></p>

                  <%=link_to "<button type='button' class='btn btn-xs btn-success'>Open in University Site</button>".html_safe,
                             job.link, :target=>'_blank'%>

                </div>
                <div class='modal-footer form-inline'><!--<div class='modal-footer form-inline'>-->
                  <%= form_tag email_job_path, :method=>'post', :class=>'form-inline' do |f|%>
                      <label>  <span class='glyphicon glyphicon-envelope'></span> Email this job? </label>
                      <%=email_field_tag :email_id, params[:email_id], :class=>'form-control input-xs',
                                         :required=>'true', :placeholder=>'Email Address'%>
                      <%=hidden_field_tag :job_id, job.id %>
                      <div class='form-group'>
                        <%=submit_tag :'Email this job', :name=>nil, :class=>'btn btn-xs btn-success'%>
                      </div>
                  <%end%>
                </div>
              </div>
            </div>
          </div><!--END OF MODAL-->
        </td>
      </tr>

  <%end%>
  </tbody>

</table>
<%= will_paginate @entries%>
